    body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        * {
            box-sizing: border-box;
        }

        .container {
            display: flex;
        
            height: 100vh;
            padding: 0 20px;
        }

        .left {
            flex: 0 0 60%;
            
            color: white;
            display: flex;
           
            font-size: 2rem;
        }

        .right {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 40%;
              color: white;
            font-size: 2rem;
        }

        .loginbox {
             
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 80%;
            min-height: 300px;
            
        }

        .loginbox input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .loginbox button {
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }